.chip{
    border-radius: 8px;
    color: #ffffff;
    background: red;
    text-align: center;
    padding: 3px 25px 3px 5px;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    position: relative;
    &-close{
        cursor: pointer;
        position: absolute; 
        top:0;
        right:.5rem;
    }
}